body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #bdaba8;
}

@keyframes shake {
  10% {
    transform: scaleY(70%);
  }

  15% {
    transform: scaleY(120%);
  }

  40% {
    transform: translateY(-10px);
  }
}

.product-grid {
  justify-content: center;
  padding-top: 50px;
}

.product {
  display: flex;
  background: #261918;
  color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 200px;
  height: auto;
  border-radius: 5px;
}

.info {
  margin-left: 30px;
}

footer {
  text-align: center;
  background: #333;
  color: white;
  padding: 20px;
  margin-top: 20px;
}
