body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #bdaba8;
}

@keyframes shake {
  10% {
    transform: scaleY(70%);
  }

  15% {
    transform: scaleY(120%);
  }

  40% {
    transform: translateY(-10px);
  }
}

.welcome {
  font-size: 80px;
  text-align: center;
  color: #261918;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.store {
  border-radius: 5px;
  text-align: center;
}

footer {
  text-align: center;
  background: #333;
  color: white;
  padding: 20px;
  margin-top: 20px;
}

.cart1 {
  background: #261918;
  color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 900px;
}

@media screen and (max-width: 600px) {
  .cart1 {
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 0px;
    translate: 0px 50px;
  }
}
